.footer-hours {
    width: 12vw;

    // L'ensemble du texte
    p {
        @include typoPoppins ($txt, $regular, $white);
        @include flex(unset, unset, space-between);

        // Responsive Mobile
        @media screen and (min-width: 320px) and (max-width: 600px) {
            font-size: $txt / 1.4;
        }
    }

    // Le titre
    p:first-child {
        @extend .footer-small-title;
    }

    // Responsive Mobile et Tablette
    @media screen and (min-width: 320px) and (max-width: 1024px) {
        width: 45vw;
    }

}