.header-title {

    // Apparté descriptif en dessous du titre principal
    aside {
        margin: 20px 0;
        @include typoPoppins($txt, $light, $grey);
        text-transform: uppercase;

        // Responsive Mobile
        @media screen and (min-width: 320px) and (max-width: 600px) {
            font-size: $txt / 1.6;
        }
    }

    // Bande de logos bleus verticale
    .header-title-logos-vertical {  
        
        img {
            padding: 2vh 0;
        }
    
        &::after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin-right: 6px;
            width: 4px;
            height: 2vw;
            background: $gradient-blue;
        }
    }
}